<article class="{{post_class}} card-wrapper feed">
    {{#if feature_image}}
        <div class="u-placeholder vertical">
            <img class="u-object-fit"
                {{!-- srcset="{{> srcset}}" --}}
                 srcset="{{img_url feature_image size="S"}} 400w,
                         {{img_url feature_image size="l"}} 750w
                sizes="(min-width: 992px) 420px, (min-width: 768px) 300px, 200px"
                src="{{img_url feature_image size="m"}}"
                alt="{{title}}" loading="lazy">
        </div>
    {{else}}
        <div class="u-placeholder vertical"></div>
    {{/if}}
    {{!-- <h3 class="card-title">{{title}}</h3> --}}
    <a class="u-permalink" href={{url}} aria-label="{{title}}"></a>
</article>