<div class="card-stack-wrapper">
    <div class="card-stack-wrapper-inner">
        {{#get "posts" filter="tag:{{slug}}" limit="3"}}
            {{#foreach posts}}
                <div class="card-stack">
                    {{#if feature_image}}
                        <div class="u-placeholder vertical">
                            <img class="u-object-fit"
                                src="{{img_url feature_image size="xs"}}"
                                alt="{{title}}" loading="lazy">
                        </div>
                    {{else}}
                        <div class="u-placeholder vertical u-empty"></div>
                    {{/if}}
                </div>
            {{/foreach}}
        {{/get}}
    </div>
    <div class="stack-text-wrap">
        <h3 class="card-title">
            {{name}}
        </h3>
        <p class="card-small-text">{{plural count.posts empty='books' singular='% book' plural='% books'}}</p>
    </div>
    <a class="u-permalink" href={{url}} aria-label="{{name}}"></a>
</div>
