<div class="right-sidebar-container">
    <div class="right-sidebar-wrap">
        <div class="right-sticky-wrapper">
            <div class="share">
                <div class="share-label">/ Share</div>
                <a class="share-link share-link-twitter"
                    href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
                    target="_blank" rel="noopener noreferrer">
                    {{> icons/twitter}}
                </a>
                <a class="share-link share-link-facebook"
                    href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
                    target="_blank" rel="noopener noreferrer">
                    {{> icons/facebook}}
                </a>
                <a class="share-link"
                    href="https://pinterest.com/pin/create/button/?url={{url absolute='true'}}&amp;media=&amp;description={{encode title}}"
                    target="_blank" rel="noopener noreferrer"
                    data-pin-do="none">
                    {{> icons/pinterest}}
                </a>
            </div>
        </div>
    </div>
    {{!-- <div class="right-sidebar-wrap">
    </div> --}}
</div>