<footer class="kg-canvas">
    <div class="single-footer">
        <div class="single-footer-left">
            {{#prev_post}}
                <div class="navigation navigation-previous">
                    <a class="navigation-link" href="{{url}}" aria-label="Previous post">
                        <span class="navigation-icon">{{> icons/arrow-left}}</span>
                    </a>
                </div>
            {{/prev_post}}
        </div>

        <div class="single-footer-middle">

            <div class="single-footer-bottom">
                <div class="share">
                    <a class="share-link share-link-facebook"
                        href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
                        target="_blank" rel="noopener noreferrer">
                        {{> icons/facebook}}
                        Share
                    </a>
                    <a class="share-link share-link-twitter"
                        href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
                        target="_blank" rel="noopener noreferrer">
                        {{> icons/twitter}}
                        Tweet
                    </a>
                </div>
        </div>

        <div class="single-footer-right">
            {{#next_post}}
                <div class="navigation navigation-next">
                    <a class="navigation-link" href="{{url}}" aria-label="Next post">
                        <span class="navigation-icon">{{> icons/arrow-right}}</span>
                    </a>
                </div>
            {{/next_post}}
        </div>
    </div>
</footer>