<header id="site-header" class="site-header kg-canvas">
    <div class="header-outer kg-width-full kg-site-margin">
        <div class="header-inner">
            <div class="header-brand">
                <a class="logo" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                        <span class="logo-text">{{@site.title}}</span>
                    {{/if}}
                </a>
                <nav class="header-nav">
                    {{#if @site.navigation}}
                        {{navigation}}
                    {{/if}}
                </nav>

                <div class="burger">
                    <div class="burger-bar"></div>
                    <div class="burger-bar"></div>
                </div>
            </div>

            <a class="header-search-bar u-mobile-hidden"
                href="#"
                aria-label="Search"
                data-ghost-search >
                <span class="social-item">
                    {{> icons/search}}
                </span>
                <span class="search-help-text">⌘K</span>
            </a>

            <div class="header-actions">

                <nav class="header-nav u-desktop-hidden">
                    {{#if @site.navigation}}
                        {{navigation}}
                    {{/if}}
                </nav>

                <a class="header-search-bar u-header-search-bar"
                    href="#"
                    aria-label="Search"
                    data-ghost-search >
                    <span class="social-item">
                        {{> icons/search}}
                    </span>
                    <span class="search-help-text">⌘K</span>
                </a>

                <div class="social">
                    {{#if @site.twitter}}
                        <a class="social-item social-item-twitter"
                            href="{{twitter_url @site.twitter}}" target="_blank"
                            rel="noopener noreferrer" aria-label="Twitter">
                            {{> icons/twitter}}
                        </a>
                        <a class="social-item social-item-search"
                            href="#"
                            aria-label="Search"
                            data-ghost-search >
                                {{> icons/search}}
                        </a>
                    {{/if}}
                </div>

                {{#if @member}}
                    <button class="button-text menu-item members-account" data-portal="account">Account</button>
                {{else}}
                    {{!-- <button class="button-text menu-item members-login" data-portal="signin">Login</button> --}}
                    <button class="button-text menu-item members-subscribe" data-portal="signup">Subscribe</button>
                {{/if}}

            </div>
        </div>
    </div>
</header>