<article class="feed-card feed {{post_class}}" data-month="{{date format="MMMM YYYY"}}">
    <div class="feed-calendar">
        <div class="feed-calendar-month">
            {{date published_at format="MMM DD YYYY"}}
        </div>
    </div>
    {{#match @custom.feed_layout "!=" "Text-only"}}
        {{#match @custom.feed_layout "!=" "Minimal"}}
            {{#if feature_image}}
                <div class="feed-image u-placeholder vertical">
                        <img class="u-object-fit"
                            srcset="{{img_url feature_image size="xs" format="webp"}} 150w,
                                    {{img_url feature_image size="s" format="webp"}} 400w"
                            sizes="(min-width: 576px) 160px, 40vw"
                            src="{{img_url feature_image size="s"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            loading="lazy"
                        >
                </div>
            {{/if}}
        {{/match}}
    {{/match}}
    <div class="feed-wrapper">
        <h2 class="feed-title">{{@number}}—{{title}}</h2>
        {{#if excerpt}}
            <div class="feed-excerpt">{{excerpt words="20"}}</div>
        {{/if}}
        <div class="feed-right">
            <div class="feed-visibility feed-visibility-{{visibility}}">
                {{> icons/lock}}
            </div>
            <div class="featured-visibility {{#match featured}}star-it{{/match}}" alt="Featured notes">
                {{> icons/star}}
            </div>
            <div class="feed-icon">
                {{> icons/chevron-right}}
            </div>
            <div class="feed-author-name">
                <span>Recommended by&nbsp; ✦ &nbsp; </span>
                {{authors from="2" to="5" suffix=" and"}} {{authors.length}} more
            </div>
        </div>
    </div>
    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>
</article>