{{#page}}
    <section class="taxonomy kg-canvas class-{{width}}">
        <header class="single-header kg-width-content">
            {{#if feature_image}}
                <div class="taxonomy-media u-placeholder square">
                    <img 
                        class="u-object-fit" 
                        src="{{img_url feature_image size="s"}}" 
                        alt="{{title}}
                        ">
                </div>
            {{/if}}
            <div class="tag-wrapper">
                <h1 class="single-title">{{title}}</h1>
                {{#if custom_excerpt}}
                    <div class="single-excerpt">{{custom_excerpt}}</div>
                {{/if}}
            </div>
            <h3 class="single-subtext">
                {{plural ../pagination.total empty='books' singular='% book' plural='% books'}}
            </h3>
        </header>
    </section>
{{/page}}