{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#author}}
            <section class="taxonomy">
                <header class="single-header kg-canvas">
                    {{#if profile_image}}
                        <div class="taxonomy-media u-placeholder square round">
                            <img class="u-object-fit" src="{{img_url profile_image size="s"}}" alt="{{name}}">
                        </div>
                    {{/if}}
                    <div class="tag-wrapper">
                        {{#if website}}
                            <h1 class="single-title">
                                <a href="{{website}}" target="_blank" rel="noopener noreferrer">{{name}}</a>
                            </h1>
                        {{else}}
                            <h1 class="single-title">{{name}}</h1>
                        {{/if}}

                        {{#if location}}
                            <span class="author-meta">{{location}}</span>
                        {{/if}}

                        <div class="single-excerpt">{{bio}}</div>

                        <div class="share author-social">
                            {{#if facebook}}
                                <a class="share-link share-link-facebook author-social-item"
                                    href="https://www.facebook.com/{{facebook}}" target="_blank" rel="noopener noreferrer">
                                    {{> icons/facebook}}
                                    Facebook
                                </a>
                            {{/if}}
                            {{#if twitter}}
                                <a class="share-link share-link-twitter author-social-item"
                                    href="https://twitter.com/{{twitter}}" target="_blank" rel="noopener noreferrer">
                                    {{> icons/twitter}}
                                    Twitter
                                </a>
                            {{/if}}
                        </div>
                    </div>
                </header>
            </section>
        {{/author}}

        <div class="kg-canvas">
            <div class="kg-width-full kg-site-margin">
                <div class="kg-grid kg-grid-4col">
                    {{#foreach posts}}
                        {{> card-horizontal}}
                    {{/foreach}}
                </div>
            </div>

        </div>
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}