{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#author}}
            <section class="taxonomy">
                <header class="single-header kg-canvas">
                    {{#if profile_image}}
                        <div class="taxonomy-media u-placeholder vertical">
                            <img class="u-object-fit" src="{{img_url profile_image size="s"}}" alt="{{name}}">
                        </div>
                    {{/if}}
                    <div class="tag-wrapper">
                        {{#if website}}
                            <h1 class="single-title">
                                {{name}}
                            </h1>
                        {{else}}
                            <h1 class="single-title">{{name}}</h1>
                        {{/if}}

                        {{#if location}}
                            <span class="author-meta">{{location}}</span>
                        {{/if}}

                        <h2 class="single-excerpt">{{bio}}</h2>
                        <h3 class="single-subtext"> 
                            Top {{plural ../pagination.total empty='books' singular='% book' plural='% books'}} recommended by {{name}}
                        </h3>

                        <div class="share author-social">
                            {{#if facebook}}
                                <a class="share-link share-link-facebook author-social-item"
                                    href="https://www.facebook.com/{{facebook}}" target="_blank" rel="noopener noreferrer">
                                    {{> icons/facebook}}
                                    Facebook
                                </a>
                            {{/if}}
                            {{#if twitter}}
                                <a class="share-link share-link-twitter author-social-item"
                                    href="https://twitter.com/{{twitter}}" target="_blank" rel="noopener noreferrer">
                                    {{> icons/twitter}}
                                    Twitter
                                </a>
                            {{/if}}
                            {{#if website}}
                                <a class="share-link share-link-twitter author-social-item"
                                    href="{{website}}" target="_blank" rel="noopener noreferrer">
                                    {{> icons/link}}
                                    Website
                                </a>
                            {{/if}}
                        </div>
                    </div>
                </header>
            </section>
        {{/author}}

        <div class="kg-canvas">
            <div class="kg-width-wide">
                <div class="post-feed kg-grid kg-grid-3col">
                    {{#foreach posts}}
                        {{> card-horizontal}}
                    {{/foreach}}
                </div>
                {{pagination}}
            </div>
        </div>
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.logo}}{{/if}}{{/contentFor}}