{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="site-main-hero kg-canvas kg-page-content">
            {{#if @custom.site_hero_title}}
                <h1 class="cover-description">{{@custom.site_hero_title}}</h1>
            {{/if}}
            {{#if @custom.site_desc}}
                <h3 class="cover-description-subtext">{{@custom.site_desc}}</h3>
            {{/if}}

            {{#unless @member}}
                <form class="form-wrapper cover-form inline-form" data-members-form>
                    <input class="auth-email" type="email" data-members-email placeholder="Your email..." required="true" autocomplete="false">
                    
                    <div class="cover-description-smalltext">Be the first who get the latest book recommendations</div>

                    <button class="form-button" type="submit" aria-label="Submit">
                        <span class="default">Subscribe</span>
                        <span class="loader">{{> icons/loader}}</span>
                        <span class="success">Email sent</span>
                    </button>
                </form>
            {{/unless}}
        </div>

        {{#get "authors" filter="slug:-[wizelit,collector]" limit="16" include="count.posts" order="count.posts desc"}}
            <section class="book-slider-outer">
                <div class="book-slider-inner kg-grid kg-grid-xcol">
                    {{#foreach authors}}
                        {{> author-card}}
                    {{/foreach}}
                </div>
            </section>
            <div class="kg-canvas kg-page-content">
                <div>
                 <a class="button button-secondary"
                        href="/titans/"
                        rel="noopener noreferrer" aria-label="View all books">
                    <span class="default">View All</span>
                    {{> icons/arrow-right}}
                </a>
                </div>
            </div>
        {{/get}}

        {{#if @custom.latest_books_title}}
            <section class="people-recommend">
                <div class="kg-canvas">
                    <div class="section-text">
                            <h2 class="cover-section-title">{{@custom.latest_books_title}}</h2>
                        {{#if @custom.latest_books_desc}}
                            <p class="cover-description-subtext">{{@custom.latest_books_desc}}</p>
                        {{/if}}
                    </div>
                    <div class="kg-width-wide">
                        <div class="people-recommend-list kg-grid kg-grid-4col">
                            {{#get "posts" limit="12" filter="tag:-[blog,collections]" include="authors" order="featured desc, published_at desc"}}
                                {{#foreach posts}}
                                    {{> card-horizontal}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>
                    <div>
                        <a class="button button-secondary"
                                href="/books/"
                                rel="noopener noreferrer" aria-label="View all books">
                            <span class="default">View All</span>
                            {{> icons/arrow-right}}
                        </a>
                    </div>
                </div>
            </section>
        {{/if}}

        {{#if @custom.tag_slugs_for_list_collection}}
            <section class="book-list">
                <div class="kg-canvas">
                    <div class="section-text">
                            <h2 class="cover-section-title">{{@custom.book_list_title}}</h2>
                        {{#if @custom.book_list_desc}}
                            <p class="cover-description-subtext">{{@custom.book_list_desc}}</p>
                        {{/if}}
                    </div>
                </div>
                <div class="kg-canvas">
                    <div class="kg-width-wide">
                        <div class="kg-grid kg-grid-3col">
                            {{#get "tags" filter="slug:[{{@custom.tag_slugs_for_list_collection}}]" limit="3" include="count.posts"}}
                                {{#foreach tags}}
                                    {{> card-stack}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>
                </div>
                <div class="kg-canvas">
                    <div>
                        <a class="button button-secondary"
                                href="/types/"
                                rel="noopener noreferrer" aria-label="View all books">
                            <span class="default">View All</span>
                            {{> icons/arrow-right}}
                        </a>
                    </div>
                </div>
            </section>
        {{/if}}

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}