{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#page}}
            <div class="site-main-hero kg-canvas kg-page-content">
                {{#if @site.description}}
                    <h1 class="cover-description">{{@site.description}}</h1>
                {{/if}}
                {{#if @custom.site_desc}}
                    <p class="cover-description-subtext">{{@custom.site_desc}}</p>
                {{/if}}

                {{#unless @member}}
                    <form class="form-wrapper cover-form inline-form" data-members-form>
                        <input class="auth-email" type="email" data-members-email placeholder="Your email..." required="true" autocomplete="false">
                        {{#if @custom.email_signup_small}}
                            <div class="cover-description-smalltext">{{@custom.email_signup_small}}</div>
                        {{/if}}

                        <button class="form-button" type="submit" aria-label="Submit">
                            <span class="default">Just try it</span>
                            <span class="loader">{{> icons/loader}}</span>
                            <span class="success">Email sent</span>
                        </button>
                    </form>
                {{/unless}}
            </div>
                {{!-- <div class='hero-wrapper kg-canvas'>
                    <div class="kg-width-wide">
                        <div class='hero-grid hero-grid-2col {{#unless feature_image}}{{/unless}}'>
                            {{#if feature_image}}
                            <figure class="hero-image">
                                <img 
                                    srcset="{{> srcset}}" 
                                    sizes="(min-width: 1023px) 920px, calc(90vw)" 
                                    src="{{img_url feature_image size="l"}}" 
                                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                            </figure>
                            {{/if}}

                            <div class='c-home__content {{#unless feature_image}}c-home__content--only{{/unless}}'>
                                <section class='hero-content gh-content'>
                                    
                                    {{ content }}

                                    {{#unless @member}}
                                        <form class="form-wrapper cover-form inline-form" data-members-form>
                                            <input class="auth-email" type="email" data-members-email placeholder="Your email..." required="true" autocomplete="false">
                                            {{#if @custom.email_signup_small}}
                                                <div class="cover-description-smalltext">{{@custom.email_signup_small}}</div>
                                            {{/if}}

                                            <button class="form-button" type="submit" aria-label="Submit">
                                                <span class="default">Just try it</span>
                                                <span class="loader">{{> icons/loader}}</span>
                                                <span class="success">Email sent</span>
                                            </button>
                                        </form>
                                    {{/unless}}
                                </section>
                            </div>
                        </div>
                    </div>
                </div> --}}
        {{/page}}

        {{#get "posts" limit="16"}}
            <section class="book-slider-outer">
                <div class="book-slider-inner kg-grid kg-grid-xcol">
                        {{#foreach posts}}
                        {{> card-horizontal}}
                    {{/foreach}}
                </div>
            </section>
            <div class="kg-canvas kg-page-content">
                <div>
                 <a class="button button-secondary"
                        href="/" target="_blank"
                        rel="noopener noreferrer" aria-label="View all books">
                    <span class="default">View all books</span>
                    {{> icons/arrow-right}}
                </a>
                </div>
            </div>
        {{/get}}

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}