{{!< default}}
<div class="content-area">
    <main class="site-main">
        {{#tag}}
            <section class="taxonomy kg-canvas">
                <header class="single-header kg-width-wide">
                    {{#if feature_image}}
                        <div class="taxonomy-media u-placeholder square">
                            <img class="u-object-fit" src="{{img_url feature_image size="s"}}" alt="{{name}}">
                        </div>
                    {{/if}}
                    <div class="tag-wrapper">
                        <h1 class="single-title">{{name}}</h1>

                        {{#if description}}
                            <div class="single-excerpt">{{description}}</div>
                        {{/if}}
                    </div>
                </header>
            </section>
        {{/tag}}
        <div class="content-area">
            <main class="site-main kg-canvas">
                <div class="portfolio-feed kg-width-wide">
                    {{#foreach posts}}
                        <article class="{{post_class}} card-horizontal-wrapper">
                            <div class="card-text-wrapper">
                                {{#tags.[1]}}
                                    <div class="secondary-tag">
                                        <h4 class="card-broweye">{{@number}}—{{name}}</h4>
                                    </div>
                                {{/tags.[1]}}
                                <h3 class="card-title">{{title}}</h3>
                                {{#if excerpt}}
                                    <div class="feed-excerpt">{{excerpt words="20"}}</div>
                                {{/if}}
                            </div>

                            {{#if feature_image}}
                                <div class="card-media">
                                    <img class="u-object-fit-free"
                                        srcset="{{> srcset}}"
                                        sizes="(min-width: 1256px) calc((1130px - 60px) / 2), (min-width: 992px) calc((90vw - 60px) / 2), (min-width: 768px) calc((90vw - 30px) / 2), 90vw"
                                        src="{{img_url feature_image size="m"}}"
                                        alt="{{title}}" loading="lazy">
                                </div>
                            {{/if}}
                            <a class="u-permalink" href={{url}} aria-label="{{title}}"></a>
                        </article>

                    {{/foreach}}
                </div>

                {{pagination}}
            </main>

            {{!-- side projects --}}
            <section class="section-wrapper kg-canvas">
                <div class="kg-width-wide">
                    <header class="feed-header">
                        <div class="feed-header-wrapper">
                            <div>
                                <h2 class="feed-header-title">Side Projects</h2>
                                <p class="section-header-subtitle">Personal projects that I'm working on my free time for community</p>
                            </div>
                        </div>
                    </header>
                    <div class="side-project-feed post-feed kg-grid kg-grid-3col kg-width-wide">
                            {{#get "posts" filter="primary_tag:side-projects"}}
                            {{#foreach posts}}
                                {{> card-horizontal}}
                            {{/foreach}}
                        {{/get}}
                    </div>
                </div>
            </section>\
        </div>
    </main>
</div>
{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}