{{!< default}}

<div class="content-area">
    <main class="site-main page-book">
        {{#post}}
            <article class="single {{post_class}}">
                <header class="single-header kg-canvas">
                        <div class="kg-width-full">
                            {{#if feature_image}}
                                <div class="single-media-wrap-book" style="background-color: {{primary_tag.accent_color}}">
                                    <figure class="single-media-book">
                                        <img 
                                            srcset="{{img_url feature_image size="s" format="webp"}} 400w,
                                                    {{img_url feature_image size="m" format="webp"}} 750w"
                                            sizes="(min-width: 992px) 400px, 300px"
                                            src="{{img_url feature_image size="m"}}" 
                                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                                            
                                            {{#if feature_image_caption}}
                                                <figcaption>{{feature_image_caption}}</figcaption>
                                            {{/if}}
                                    </figure>
                                </div>
                            {{/if}}

                            <div class="single-text-wrapper-book">
                                <div class="kg-canvas">
                                    <div class="kg-width-wide">
                                        {{#is "post"}}
                                            <div class="single-meta">
                                                <span class="single-meta-item single-meta-length">
                                                    {{reading_time}}
                                                </span>
                                                {{#primary_tag}}
                                                    <span class="single-meta-item single-meta-tag">
                                                        <a class="post-tag post-tag-{{slug}}" href="{{url}}">{{name}}</a>
                                                    </span>
                                                {{/primary_tag}}
                                            </div>
                                            {{#tags.[1]}}
                                                <div class="secondary-tag">
                                                    <h4 class="card-broweye">{{name}}</h4>
                                                </div>
                                            {{/tags.[1]}}
                                        {{/is}}

                                        <h1 class="single-title kg-width-wide">{{title}}</h1>

                                        {{#if custom_excerpt}}
                                            <div class="single-excerpt">
                                                {{custom_excerpt}}
                                            </div>
                                        {{/if}}

                                        {{#is "post"}}
                                            {{#match authors.length ">" 1}}
                                                <div class="single-footer-top">
                                                    <h4 class="author-name-label">
                                                        {{plural authors.length empty='Titans' singular='% Titan' plural='% Titans'}} recommend this book.
                                                    </h4>
                                                    <div class="author-list-book">
                                                        {{#foreach authors from="2" to="10"}}
                                                            <div class="author-image-placeholder u-placeholder square">
                                                                <a href="{{url}}" title="{{name}}">
                                                                    {{#if profile_image}}
                                                                        <img class="author-image u-object-fit" src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy">
                                                                    {{else}}
                                                                        <span class="u-object-fit">{{> icons/avatar}}</span>
                                                                    {{/if}}
                                                                </a>
                                                            </div>
                                                        {{/foreach}}
                                                    </div>
                                                    <h4 class="author-name-book">{{authors from="2" to="7" separator="&nbsp; &nbsp; ✦ &nbsp; &nbsp;" suffix=" &nbsp; &nbsp; ✦ &nbsp; &nbsp; and more"}}</h4>
                                                </div>
                                            {{/match}}
                                        {{/is}}
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                </header>

                <div class="single-content gh-content kg-canvas">


                    <div class="toc-container toc-native">
                        <div class="toc-sidebar">
                            <h2>What are the key ideas from ‘{{title}}’?</h2>
                            <div class="toc"></div>
                        </div>
                    </div>
                    
                    {{> card-affiliate}}
                    
                    {{content}}

                    <div class="right-sidebar-container-post">
                        <div class="right-sidebar-wrap">
                            <div class="right-sticky-wrapper">
                                {{> content-share}}
                            </div>
                        </div>
                    </div>

                </div>

                {{#is "post"}}
                    {{> subscription-box}}
                {{/is}}
            </article>
        {{/post}}
        {{#is "post"}}
            {{> author-all}}
            {{> comment}}
            {{> related}}
        {{/is}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if @site.logo}}{{/if}}{{/contentFor}}