{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#tag}}
            <section class="taxonomy">
                <header class="single-header kg-canvas">
                    {{#if feature_image}}
                        <div class="taxonomy-media u-placeholder square">
                            <img class="u-object-fit" src="{{img_url feature_image size="s" format="webp"}}" alt="{{name}}">
                        </div>
                    {{/if}}
                    <div class="tag-wrapper">
                        <h1 class="single-title">{{name}}</h1>

                        {{#if description}}
                            <h2 class="single-excerpt">{{description}}</h2>
                        {{/if}}

                        <h3 class="single-subtext">
                            A collection of {{plural ../pagination.total empty='books' singular='% book' plural='% books'}} with key ideas from each book.
                        </h3>
                    </div>
                </header>

            </section>
        {{/tag}}

        <div class="kg-canvas">
            <div class="kg-width-wide">
                <div class="kg-grid kg-grid-4col">
                    {{#foreach posts order="featured desc"}}
                        {{> card-horizontal}}
                    {{/foreach}}
                </div>
            </div>
        </div>

            {{pagination}}
        
        {{#tag}}
            <div class="tag-list-wrapper kg-canvas">
                {{#get "tags" limit="all" include='count.posts' order='count.posts desc' filter="id:-{{id}}+visibility:public" as |tags|}}
                    {{#if tags}}
                        <div class="tag-list-container">
                            <div class="tag-list-label">Explore other categories</div>
                            <div class="tag-list">
                                {{#foreach tags}}
                                    <div class="tag-list-item-wrapper">
                                        <a class="tag-list-item" href="{{url}}">
                                            <span class="tag-list-item-count"> ({{count.posts}}) </span>    
                                            {{name}}
                                        </a>
                                    </div>
                                {{/foreach}}
                            </div>
                        </div>
                    {{/if}}
                {{/get}}
            </div>
        {{/tag}}

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.logo}}{{/if}}{{/contentFor}}